.RoundOptionsPanel {
   width: 100%;
   height: 100%;
   overflow: clip;
}

.selectred {
   border: 3px solid #fa7203;
}

.selectgreen {
   border: 3px solid #18d360;
}

#confirmation {
   horizontal-align: center;
   vertical-align: top;
   font-size: 20px;
   font-weight: bold;
   margin-top: 110px;
   color: #00FF00;
}

#RoundOptions {
   background-color: #707070;
   horizontal-align: left;
   margin-left: -200px;
   margin-top: 150px;
   vertical-align: top;
   width: 700px;
   height: 150px;
   border-radius: 100px;
}

#question {
   horizontal-align: right;
   vertical-align: top;
   margin-right: 85px;
   font-size: 20px;
   font-weight: bold;
   margin-top: 10px;
   text-transform: uppercase;
   color: #FFEA00;
}

#readytext {
   horizontal-align: center;
   margin-top: 105px;
   font-size: 20px;
   text-transform: uppercase;
   color: #0000FF;
}

.OnPanelClass {
   animation-name: OnPanel;
   animation-duration: 1.42s;
   animation-iteration-count: 1;
}

@keyframes 'OnPanel' {
   0% {
      transform: translate3d(-500px, 0px, 0px);
   }

   90% {
      transform: translate3d( 20px, 0px, 0px);
   }
   95% {
      transform: translate3d(-10px, 0px, 0px);
   }
   100% {
      transform: translate3d(0px, 0px, 0px);
   }
}

.OffPanelClass {
   animation-name: OffPanel;
   animation-duration: 1s;
   animation-iteration-count: 1;
}

@keyframes 'OffPanel' {
   0% {
      transform: translate3d(0px, 0px, 0px);
   }

   5% {
      transform: translate3d( 20px, 0px, 0px);
   }
   10% {
      transform: translate3d(-10px, 0px, 0px);
   }

   100% {
      transform: translate3d(-500px, 0px, 0px);
   }
}